.table {
    width: 100%;
}

.res-detail {
    color: white;
    padding-top: 40%;
    padding-left: 12px;
    text-align: center;
    background-image: url("Images/table-topdown-1.jpg");
    background-size: cover;
    width: 100%;
    height: 350px;
}